html, body {
	padding: 10px;
	overflow: hidden;
}

#board {
	position: relative;
	width: 1066px;
	height: 750px;
}

.card {
	position: absolute;
	width: 180px;
	height: 300px;
	box-shadow: -1px -1px 2px black;
	background: black;
	border: 20px solid white;
	border-radius: 20px;
	color: white;
	transition: all 0.4s;
}

.card.dealers {
	top: 0px;
}
.card.dealers.dealers1 {
	left: 30%;
}
.card.dealers.dealers2 {
	left: 54%;
}
.card.dealers.dealers3 {
	left: 78%;
}

.card.players {
	top: 50%;
}
.card.players.players1 {
	left: 40%;
}
.card.players.players2 {
	left: 64%;
}

@media (max-width: 1066px), (max-height: 750px) {
	#board {
		width: 762px;
		height: 508px;
	}
	.card {
		width: 120px;
		height: 180px;
		border-width: 10px;
		border-radius: 10px;
	}
}

@media (max-width: 762px), (max-height: 508px) {
	#board {
		width: 400px;
		height: 293px;
	}
	.card {
		width: 60px;
		height: 90px;
		border-width: 5px;
		border-radius: 5px;
	}
}

@media (max-width: 400px), (max-height: 293px) {
	#board {
		width: 200px;
		height: 150px;
	}
	.card {
		width: 20px;
		height: 35px;
		border-width: 3px;
		border-radius: 3px;
	}
}
